<footer class="page-footer blue-grey darken-3">
    <div id="contact" class="container pad-top">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">Contact</h5>
          <p class="grey-text text-lighten-4">Mijn naam is Winfred van Groningen, specialist op het gebied van sport en voeding en werkzaam als personal trainer. Na jarenlange sportbeoefening en een carriere in het bedrijfsleven ben ik in 2013 VitaSupport gestart.</p>
          <img class="responsive-img" src="assets/images/winfred.jpeg" title="Personal Trainer Winfred van Groningen" alt="Personal Training door Winfred van Groningen">
          <p class="grey-text text-lighten-4">Vanuit een gedegen kennis en ervaring begeleid ik mensen met het behalen en ook behouden van hun doelstellingen. Als onafhankelijk trainer ben ik in bezit van een eigen studio. Ideaal voor personen die niets hebben met de sportschool of diegene die net dat dat duwtje in de rug nodig hebben om sportief bezig te zijn.</p>
        </div>

        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Certifications</h5>
          <ul class="collection">
            <li class="blue-grey darken-3 white-text collection-item">NASM Certified Personal Trainer</li>
            <li class="blue-grey darken-3 white-text collection-item">NASM Corrective Exercise Specialist</li>
            <li class="blue-grey darken-3 white-text collection-item">Anatomie AALO</li>
            <li class="blue-grey darken-3 white-text collection-item">HBO Voedingsdeskundige</li>
            <li class="blue-grey darken-3 white-text collection-item">HvA Sportvoedingsadviseur</li>
            <li class="blue-grey darken-3 white-text collection-item">Triggerpoint therapie</li>
          </ul>
          <br>
          <h5 class="white-text">Connect</h5>
          <ul>
            <li class="left">
              <a class="white-text" href="mailto:winfred@vitasupport.nl">
                <svg style="width:33px;height:33px" viewBox="0 0 24 24">
                  <path fill="#ffffff" d="M20,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6A2,2 0 0,0 20,4M20,18H4V8L12,13L20,8V18M20,6L12,11L4,6V6H20V6Z" />
                </svg>
              </a>
            </li>
            <li class="left">
              <a class="white-text" href="https://www.facebook.com/vitasupport" target="_blank">
                <svg style="width:32px;height:32px" viewBox="0 0 24 24">
                  <path fill="#ffffff" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
                </svg>
              </a>
            </li>
            <li class="left">
              <a class="white-text" href="https://www.instagram.com/vitasupport" target="_blank">
                <svg style="width:31px;height:31px" viewBox="0 0 24 24">
                  <path fill="#ffffff" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                </svg>
              </a>
            </li>
            <li class="left">
              <a class="white-text" href="https://www.twitter.com/vitasupport" target="_blank">
                <svg style="width:32px;height:32px" viewBox="0 0 24 24">
                  <path fill="#ffffff" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="left">
              <a class="blue-grey-text text-lighten-3" href=/files/algemene_voorwaarden_vitasupport.pdf target="_blank">Algemene voorwaarden</a>&nbsp;&nbsp;
              <a class="blue-grey-text text-lighten-3" href=/files/privacy_verklaring.pdf target="_blank">Privacy verklaring</a>
            </div>
          <div class="right">&nbsp;</div>
          <div class="right">
            &copy; 2018 Made with joy and <a class="blue-grey-text text-lighten-3" href="http://materializecss.com" target="_blank">MaterializeCSS</a> by <a class="blue-grey-text text-lighten-3" href="https://www.stefanvangroningen.com" target="_blank">Stefan van Groningen</a>
          </div>
        </div>
      </div>
    </div>

  </footer>