<footer class="page-footer blue-grey darken-3">
  <div class="footer-copyright">
    <div class="container">
      <div class="left">
        <a class="blue-grey-text text-lighten-3" href=/assets/files/algemene_voorwaarden_vitasupport.pdf target="_blank">Algemene
          voorwaarden</a>&nbsp;&nbsp;
        <a class="blue-grey-text text-lighten-3" href=/assets/files/privacy_verklaring.pdf target="_blank">Privacy verklaring</a>
      </div>
      <div class="right">&nbsp;</div>
      <div class="right">
        &copy; 2018 Made with joy and <a class="blue-grey-text text-lighten-3" href="http://materializecss.com" target="_blank">MaterializeCSS</a>
        by <a class="blue-grey-text text-lighten-3" href="https://www.stefanvangroningen.com" target="_blank">Stefan
          van Groningen</a>
      </div>
    </div>
  </div>
  </div>
</footer>