<script type='application/ld+json'>
    {
        "@context": "https:\/\/schema.org",
        "@type": "WebSite",
        "@id": "#website",
        "url": "https:\/\/www.vitasupport.nl\/",
        "name": "VitaSupport | Personal Training &amp; Running | Alkmaar"
    }
</script>
<script type='application/ld+json'>
    {
        "@context": "https:\/\/schema.org",
        "@type": "Organization",
        "url": "https:\/\/www.vitasupport.nl\/",
        "sameAs": ["https:\/\/www.facebook.com\/vitasupport\/",
            "https:\/\/www.instagram.com\/vitasupport\/",
            "https:\/\/twitter.com\/vitasupport"
        ],
        "@id": "https:\/\/www.vitasupport.nl\/#organization",
        "name": "VitaSupport | Personal Training &amp; Running | Alkmaar"
    }
</script>