<div id="index-banner" class="parallax-container">
  <div class="parallax"><img src="{{ page.image | relative_url }}" alt="Unsplashed background img 1"></div>
  <div class="container pad-top">
    <div class="top-centered hcenter">
      <h1 class="header center blue-grey-text text-darken-3">{{ page.title }}</h1>
      {% if page.subtitle %}
      <div class="row center">
        <h5 class="header col s12 black-text">{{ page.subtitle }}</h5>
      </div>
      {% endif %}
      {% if page.cta %}
      <div class="row center">
        {% if page.url == '/' %}
        <!-- Modal Trigger -->
        <button data-target="modal1" class="btn btn-large waves-effect waves-light blue-grey darken-3 modal-trigger" onclick="$('#gform')[0].reset();">Get Started!</button>
        {% endif %}
        {% if page.url == '/hardlopen/' %}
        <a href="https://www.personaltrainerapp.nl/p/3482" id="running-button" class="btn-large waves-effect waves-light blue-grey darken-3" target="_blank">Get Started!</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>