body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  nav {
    ul a, .brand-logo {
      color: #444;
    }
  }
  
  p {
    line-height: 2rem;
  }
  
  .parallax-container {
    height: 450px;
    .section {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #index-banner .section {
      top: 0;
    }
  }
  
  .icon-block {
    padding: 0 15px;
    .material-icons {
      font-size: inherit;
    }
  }
  
  footer.page-footer {
    margin: 0;
  }
  
  .parallax-container.pad-top, .container.pad-top {
    padding-top: 56px;
  }
  
  .row.pad-top {
    padding-top: 40px;
  }
  
  html {
    visibility: visible;
    opacity: 1;
  }