nav {

  ul a,
  .brand-logo {
    color: #444;
  }
}

/* top centered text overlay */
.top-centered {
  width: 40%;
  padding: 10px;
  background-color: rgba(255,255,255,0.5); /* Black background with opacity */
  border-radius: 15px;
}

p {
  line-height: 2rem;
}

.parallax-container {
  height: 450px;

  .section {
    width: 100%;
    top: 40%;
  }
}

.hcenter {
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
  }

  #index-banner .section {
    top: 10%;
  }

  .top-centered {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }

  .top-centered {
    width: 100%;
  }
}

.icon-block {
  padding: 0 15px;

  .material-icons {
    font-size: inherit;
  }
}

footer.page-footer {
  margin: 0;
}

.parallax-container.pad-top,
.container.pad-top {
  padding-top: 56px;
}

.row.pad-top {
  padding-top: 40px;
}

html {
  visibility: visible;
  opacity: 1;
}