---
layout: default
---
<div id="contact" class="container pad-top">
    <div class="row">
        <div class="col l4 s12">
            <h5>Contact</h5>
            <p>Mijn naam is Winfred van Groningen, specialist op het gebied van sport
                en voeding en werkzaam als personal trainer. Na jarenlange sportbeoefening en een carriere in het
                bedrijfsleven ben ik in 2013 VitaSupport gestart.</p>
            <img class="responsive-img" src="assets/images/winfred.webp" title="Personal Trainer Winfred van Groningen"
                alt="Personal Training door Winfred van Groningen">
            <p>Vanuit een gedegen kennis en ervaring begeleid ik mensen met het
                behalen en ook behouden van hun doelstellingen. Als onafhankelijk trainer ben ik in bezit van een eigen
                studio. Ideaal voor personen die niets hebben met de sportschool of diegene die net dat dat duwtje in
                de rug nodig hebben om sportief bezig te zijn.</p>
        </div>

        <div class="col l4 offset-l2 s12">
            {% include certification.html %}
            <br>
            <h5>Connect</h5>
            <ul>
                <li class="left">
                    <a href="mailto:winfred@vitasupport.nl">
                        <i class="svg-icon email"></i>
                    </a>
                </li>
                <li class="left">
                    <a href="https://www.facebook.com/vitasupport" target="_blank">
                        <i class="svg-icon facebook"></i>
                    </a>
                </li>
                <li class="left">
                    <a href="https://www.instagram.com/vitasupport" target="_blank">
                        <i class="svg-icon instagram"></i>
                    </a>
                </li>
                <li class="left">
                    <a href="https://www.twitter.com/vitasupport" target="_blank">
                        <i class="svg-icon twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>