<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48697210-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-48697210-1');
  </script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, follow, archive">
  <meta name="googlebot" content="index, follow, archive">
  <meta name="description" content="Personal Trainer Winfred van Groningen maakt je fitter en sterker door personal training, circuit training, running en gezond te laten leven">
  <meta name="keywords" content="personal training, personal trainer, circuittraining, running, small group training, bewustwording, workout, vita support, abonnement">

  <title>{{site.title}}</title>

  <!-- CSS  -->
  <style>html{visibility: hidden;opacity:0;}</style>

</head>

<body>

  {% include header.html %}

  <main>
      {{ content }}
  </main>

  {% include footer.html %}

  <!--  Scripts-->
  <noscript id="deferred-styles">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href={{ "/assets/css/style.css" | relative_url }} type="text/css" rel="stylesheet" media="screen,projection" />
  </noscript>
  <script>
    var loadDeferredStyles = function () {
      var addStylesNode = document.getElementById("deferred-styles");
      var replacement = document.createElement("div");
      replacement.innerHTML = addStylesNode.textContent;
      document.body.appendChild(replacement)
      addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function () {
      window.setTimeout(loadDeferredStyles, 0);
    });
    else window.addEventListener('load', loadDeferredStyles);
  </script>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src={{ "/assets/js/materialize.min.js" | relative_url}}></script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.parallax');
      var instances = M.Parallax.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });
  </script>

  {% if page.url == '/' %}
  <script data-cfasync="false" type="text/javascript" src={{ "/assets/js/form-submission-handler.js" | relative_url }}></script>
  {% endif %}

</body>

</html>